* {
    margin: 0;
}

body {
    background-color: white;
}

.sectioner img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;

}

.sectioner {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

#logo {
    height: 10%;
    width: 10%;
    z-index: 2;
    left: 89%;
    top: 20px;
    
}


#del1 {
    background-image: url(../images/Kochs%20skole.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#del2 {
    background-image: url(../images/IMG_6807.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#del3 {
    background-image: url(../images/1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#del4 {
    background-image: url(../images/N_Kochs_Skole_2016-Skaade-Fotografi-DSC_6785_20x30.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#gone {
    visibility: hidden;
}


h2 {
    position: absolute;
    margin-top: 50px;
    z-index: 1;
    border: yellow medium solid;
    color: yellow;
    margin-left: 40px;
    background-color:
}

article {
    background-color: dimgray;
    opacity: 1;
    position: absolute;
    display: block;
    width: 500px;
    height: 400px;
    margin-top: 30%;
    margin-left: 10%;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.7);

}

article h3 {
    color: limegreen;
    font-size: 40px;
    opacity: 1;
    margin: 30px;


}


article p {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


.right {
    margin-left: 60%;
}

.baggrund {
    background-color: white;
}


#unik {
    border: 10px black solid;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    color:
}

.textbox {
    padding: 8%;
}





article {
    opacity: 0;
}


article.komHid {
    animation: fadein 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




#topKnap {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topKnap:hover {
  background-color: #555;
}



